@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap");

:root {
  --primary-color: #363636;
  --secondary-color: #808080;
  --light-gray: #f5f5f5;
  --dark-gray: #444444;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  grid-template-areas: "left middle right";
}

#left {
  grid-area: left;
  background-color: var(--secondary-color);
  padding: 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

#left h4 {
  padding: 5%;
}

#left p {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

#tools {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
}

#tools p {
  color: var(--dark-gray);
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  padding-bottom: 0.5rem;
}

#right {
  grid-area: right;
  background-color: var(--secondary-color);
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#right h4 {
  margin-bottom: 10px;
}

.filter-button {
  margin-bottom: 10px;
  color: var(--white);
  background: var(--primary-color);
  height: 75px;
  padding: 0 5%;
  width: auto;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: var(--dark-gray);
}

#middle {
  grid-area: middle;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to bottom, var(--white) 0%, var(--light-gray) 100%);
}

.canvas {
  width: 75%;
  text-align: center;
  
}

.canvas .uploaded-img-container {
  text-align: center;
  background: linear-gradient(to bottom, var(--dark-gray) 0%, var(--white) 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.canvas .uploaded-img-container .select {
  /* font-size: 100px; */
  color: rgba(0, 0, 0, 0.7);
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.canvas .img-box {
  width: auto;
  height: auto;
  max-height: 500px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  margin: 0 auto; /* Add this line to center the image */
}


.clear {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
  height: 50px;
  margin-bottom: 10px;
  background: var(--primary-color);
  border-radius: 30px;
  border: none;
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.clear:hover {
  background-color: var(--dark-gray);
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.photo-button {
  border: none;
  background-color: transparent;
  margin: 0 5px;
  cursor: pointer;
}

.photo-button img {
  width: 80px;
  height: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
